h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 60px;
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;
    border:solid;
    border-radius: 30px;
  }

  @keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

  h2{
    text-align: center;
    font-family: 'Poppins';
    font-size: 27px;
    color:black;   

  }

  h3{
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
    color:black;   
  }

  h4{
    text-align: center;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 20px;
  }

 
  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    font-family: 'Poppins';

  }
  
  li a {
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

 .Itemmenu:hover{
  color:red;
 }

 .Itemmenu:active {
  color: green;
}

nav{
  display: inline-block;
  text-align: center;
   width: 100%;

}


body{
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s;
  

}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity:1;
    transform: translateY(0);
  }
}

p{
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px;

}

hr{
  height: 5px;
  width:50%;
  background: black;
}


  #hdp{
      text-align: center;
      border-radius: 12px;
      background-color: blue;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration:none;
      font-size: 15px;
      font-family: 'Poppins';
      margin:auto;
      transition: background-color 1s; 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

  }



  .Img_projet{
      margin: auto;
      display: block;
      height: 400px;
      width: 500px;
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }

  #image1{
    margin: auto;
    display: block;
    height: 400px;
    width: 200px;

  }

 .Bouton_projet{
   text-align: center;
 }


 #bouton_yt{
  text-align: center;
  border-radius: 12px;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration:none;
  font-size: 15px;
  font-family: 'Poppins';
  margin:auto;
  transition: background-color 1s; 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}