h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 60px;
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

  h3{
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
    color:black;   
  }

  h4{
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
  }

 
  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    font-family: 'Poppins';

  }
  
  li a {
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

 .Itemmenu:hover{
  color:red;
 }

 .Itemmenu:active {
  color: green;
}

nav{
  display: inline-block;
  text-align: center;
   width: 100%;

}

#photo_cv{
  width: 350px;
  height: 350px;
  clip-path:ellipse(50% 50%);
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  animation: transitionIn 1.5s;

}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity:1;
    transform: translateY(0);
  }
}

p{
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px;

}

#Linkedin{
  height: 100px ;
  width:100px ;
}

hr{
  height: 5px;
  width:50%;
  background: black;
}

#buttongroup{
  text-align: center;
}


#Linkedin{
  width: 60px;
  height: 60px;
  /*clip-path:ellipse(50% 50%);*/
  display: inline-block;
  margin:auto;
  margin-bottom: 2%;
}

#Git{
  width: 60px;
  height: 60px;
  clip-path:ellipse(50% 50%);
  display: inline-block;
  margin-bottom: 2%;
  margin-left: 15px;
}

#footer_image{
  text-align: center;
}


  .Bouton {
    border-radius: 12px;
    background-color: blue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    font-family: 'Poppins';
    margin:auto;
    transition: background-color 1s;
  }

  .Bouton:hover{
    background-color: #DC3545;
  }
  
  #buttongroup{
    text-align: center;
  }


 