h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 60px;
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;
    border:solid;
    border-radius: 30px;
  }

  @keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

  h2{
    text-align: center;
    font-family: 'Poppins';
    font-size: 27px;
    color:black;   

  }

  h3{
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
    color:black;   
  }

  h4{
    text-align: center;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 20px;
  }

 
  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    font-family: 'Poppins';

  }
  
  li a {
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

 .Itemmenu:hover{
  color:red;
 }

 .Itemmenu:active {
  color: green;
}

nav{
  display: inline-block;
  text-align: center;
   width: 100%;

}


body{
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s;

  
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity:1;
    transform: translateY(0);
  }
}

p{
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px;

}


hr{
  height: 5px;
  width:50%;
  background: black;
}



 

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: "Poppins";
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 12px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=soumettre] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins";
    display: block;
    margin: auto;
    

  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=soumettre]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  textarea{
      resize:none;
  }

  label{
      font-family: "Poppins";
  }


